<h2>
  <span class="status">
    In progress &middot;
    <span class="started-at">Started <span class="timer" data-timestamp="<%= deploy.started_at.to_i %>" data-format="(%?H:)%M:%S"><%= format_hms("(%?H:)%M:%S", deploy.duration) %></span> ago</span>
  </span>
</h2>

<% if deploy.current_progress %>
  <h3 class="current-progress-wrapper">
    <span class="current-progress"><%== deploy.current_progress.step.description %></span>&hellip;
  </h3>
<% end %>

<div class="deploy-progress progress progress-striped active">
  <div class="bar" style="width: <%= deploy.progress_percentage %>%;"></div>
</div>