<html>
<head>
  <title><%= @page_title || "Deploy Monitor" %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen">
  <script src="/js/jquery-1.8.0.min.js"></script>
  <script src="/js/clock.js"></script>
  <script src="/js/active_deploys.js"></script>
  <script src="/js/recent_deploys.js"></script>
  <script src="/js/time_display.js"></script>
  <script src="/js/active_deploy.js"></script>
  <script src="/js/boot.js"></script>
</head>
<body>
  <div class="container">
    <h1 id="header"><a href="/">Deploy Monitor</a></h1>
<%= yield %>
  </div>
</body>
</html>