<html>
<head>
  <title><%= @page_title || "Deploy Monitor" %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen">
  <script src="/js/jquery-1.8.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/clock.js"></script>
  <script src="/js/confirmations.js"></script>
  <script src="/js/mixins.js"></script>
  <script src="/js/active_deploys.js"></script>
  <script src="/js/recent_deploys.js"></script>
  <script src="/js/time_display.js"></script>
  <script src="/js/active_deploy.js"></script>
  <script src="/js/boot.js"></script>
</head>
<body>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand active" href="/">Deploy Monitor</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/api">API</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>