<div class="row">
  <h2 class="span12"><%= @system.name %></h2>

  <div class="span12">
    <h2>Deploy Steps</h2>
    <ol>
      <% @system.steps.each do |step| %>
      <li><%= step.description %></li>
      <% end %>
    </ol>
  </div>
  
  <div class="span12">
    <h2>Recent Deploys</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Deploy</th>
          <th>Result</th>
          <th>Finished</th>
          <th>Duration</th>
        </tr>
      </thead>

      <tbody>
      <% @recent_deploys.each do |recent_deploy| %>
        <%= partial(:deploy_row, :locals => {:include_system => false, :deploy => recent_deploy} ) %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>