body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#header {
  margin: 20px 0px 10px 0px;
}

.system-name .status {
  color: #aaa;
  font-size: 60%;
  text-transform: uppercase;
  font-weight: normal;
}

.current-progress-wrapper {
  font-size: 14px;
}

table tr.active {
  color: #00c;
}

tr > *:first-child {
  padding-left: 0;
}

.section-header {
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px solid black;
}

.section-header, .deploy-overview, h3, h4 {
  margin-bottom: 8px;
}

.abort-form {
  float: right;
}

.deploy-outcomes {
  font-size: 30px;
  margin-bottom: 8px;
}

.deploy-outcomes .label {
  font-size: 16px;
  position: relative;
  top: -4px;
}

.step-list {
  font-size: 14px;
}