body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#header {
  margin: 20px 0px 10px 0px;
}

.system-name .status {
  color: #aaa;
  font-size: 60%;
  text-transform: uppercase;
  font-weight: normal;
}

.current-progress-wrapper {
  font-size: 14px;
}

table tr.active {
  color: #00c;
}